################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs
/PricingWebApp/bin
/PricingWebApp/obj
/PricingWebApp/appsettings.json
/PricingWebApp/bin/Debug/net6.0/appsettings.Development.json
