################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs
/PricingWebApp/bin/
/PricingWebApp/obj/
/PricingWebApp/appsettings.json
