@model Employees

<div class="modal fade" id="EditOne-@Model.Id" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-white" style="background-color: #180344;">
                <h5 class="modal-title">Edit Employee</h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close" onclick="clearAllErrMsgEditEmployeeCancele()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            <form method="post" asp-action="EditEmployee" name="EditEmployee-@Model.Id">
              <input asp-for="Id" hidden id="" placeholder="x" />
                <div class="border p-3 bt-4">
                    <div class="mb-3">
                        <label asp-for="FirstName">First Name</label>
                        <input asp-for="FirstName" class="form-control" autocomplete="off">
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                      <div class="mb-3">
                        <label asp-for="LastName">Last Name</label>
                        <input asp-for="LastName" class="form-control" autocomplete="off">
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                      <div class="mb-3">
                        <label asp-for="Email">Email</label>
                        <input type="email" asp-for="Email" class="form-control" autocomplete="off">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                      <div class="mb-3">
                        <label asp-for="PhoneNo">Phone Number</label>
                        <input type="number" asp-for="PhoneNo" class="form-control" autocomplete="off">
                        <span asp-validation-for="PhoneNo" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="HourRate">Hour Rate</label>
                        <div class="input-group">
                            <input asp-for="HourRate" class="form-control" autocomplete="off" min="0">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="bi bi-currency-euro font-weight-bold"></i>
                                </span>
                            </div>
                        </div>
                        <span asp-validation-for="HourRate" class="text-danger"></span>
                    </div>
                    <br>
                    <div class="modal-footer justify-content-between">
                            <button type="button" class="btn text-white btn-danger" style="width: 80px;"
                                    data-dismiss="modal" onclick="clearAllErrMsgEditEmployeeCancele()">
                                Cancel
                            </button>
                    <button type="submit" class="btn text-white btn-primary" style="width:80px;" onclick="return isEmptyFieldsEmployeeEdit()">Update</button>
                </div>
              </div>
            </form>
            </div>
        </div>
    </div>
</div>


