@model FixCosts

<div class="modal fade" id="DeleteOne-@Model.Id" aria-labelledby="DeleteOne-@Model.Id" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-white" style="background-color: #462746;">
                <h5 class="modal-title">Delete Fix Cost</h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form method="post" asp-action="_DeleteFixCost">
                <input asp-for="Id" hidden />
                <div class="border p-3 bt-4">
                    <div class="mb-3">
                        <label asp-for="Title">Fix Cost Name :</label>
                        <span class="">@Model.Title</span>

                    </div>
                    <div class="mb-3">
                        <label asp-for="monthlyCost">monthly Cost :</label>
                        <span class=""> @Model.monthlyCost <i class="bi bi-currency-euro"></i></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Cost">Cost :</label>
                        <span class=""> @Model.Cost <i class="bi bi-currency-euro"></i></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="lastUpdate">last Update :</label>
                        <span class="">@Model.lastUpdate.ToString("dd-MM-yyyy")</span>
                    </div>
                    <br>
                    <button type="submit" class="btn text-white btn-primary" style="width:80px;">Delete</button>
                    <button type="button" class="btn text-white btn-danger" style="width: 80px;"
                            data-dismiss="modal">
                        Cancel
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
