@model FixCosts

<div class="modal fade" id="DeleteOne-@Model.Id" aria-labelledby="DeleteOne-@Model.Id" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Fix Cost</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form method="post" asp-action="_DeleteFixCost">
                <input asp-for="Id" hidden />
                <div class="border p-3 bt-4">
                    <div class="mb-3">
                        <label asp-for="Title">Fix Cost Name :</label>
                        <span class="">@Model.Title</span>

                    </div>
                    <div class="mb-3">
                        <label asp-for="Cost">Cost :</label>
                        <span class="">@Model.Cost</span>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary" style="width:150px">Delete</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>