@model FixCosts

<div class="modal fade" id="EditOne-@Model.Id">
  <div class="modal-dialog">
    <div class="modal-content"> 
      <div class="modal-header">
           <h5 class="modal-title">Edit Fix Cost</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
           </button>
      </div>

    <form method="post" asp-action="_EditFixCost">
       
        <div class="border p-3 bt-4" >
          <div class="mb-3">
                <label asp-for="Title">Fix Cost Name</label>
                <input asp-for="Title" class="form-control" autocomplete="off" required>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Cost"></label>
                <input asp-for="Cost" class="form-control" autocomplete="off" required>
                <span asp-validation-for="Cost" class="text-danger"></span>
            </div>
            <div class="mb-3">
            <input asp-for="Id" type="hidden" class="form-control"/>
            </div>
            <br>
            <button type="submit" class="btn btn-primary" style="width:150px">Update</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>

    </form>
   </div>
 </div>
</div>