@model Services

<div class="modal fade" id="DeleteService-@Model.Id" aria-labelledby="DeleteService-@Model.Id" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-white" style="background-color: #462746;">
                <h5 class="modal-title">Delete Service</h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" asp-action="_DeleteService">
                    <input asp-for="Id" hidden id="" placeholder="x" />
                    <div class="">
                        <div class="mb-3">
                            <span class=""><span id="boot-icon" class="bi bi-trash" 
                                style="font-size: 20px; opacity: 0.7; -webkit-text-stroke-width: 0.4px; color: rgb(84, 84, 84);">
                                </span>&nbsp &nbsp Do you want to delete <b> @Model.Title </b>?</span>
                        </div>
                        <br>
                        <div class="modal-footer justify-content-between">
                            <button type="button" class="btn text-white btn-danger" style="width: 80px;"
                                    data-dismiss="modal">
                                No
                            </button>
                            <button type="submit" class="btn text-white btn-primary" style="width:80px;">Yes</button>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

