@model IEnumerable<PricePackages>

<link rel="stylesheet" href="~/css/colorPackage.css">
<div class="col-lg-12 col-12">
<!-- Small Box (Stat card) -->
    <h5 class="mb-2 mt-4">Packages Selection</h5>
    <div class="row d-flex justify-content-center">
      
    <div class="col-lg-3 col-6">
        <!-- small card -->
            <div class="small-box  button button-silver">
            <div class="inner">
                    <h3><sup style="font-size: 20px">@ViewBag.package1 %</sup></h3>

                    <p>Default Pack</p>
            </div>
           
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small card -->
            <div class="small-box  button button-gold"
@*             style="    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
                radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);" *@
            >
            <div class="inner">
                    <h3><sup style="font-size: 20px">@ViewBag.package2 %</sup></h3>

                    <p>Second Pack</p>
            </div>
           
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small card -->
            <div class="small-box  button button-bronze">
            <div class="inner">
                    <h3><sup style="font-size: 20px">@ViewBag.package3 %</sup></h3>

                    <p>Third Pack </p>
            </div>
            
           
        </div>
    </div>
    <!-- ./col -->
    
</div>
<!-- /.row -->
</div>
